@import url('https://fonts.googleapis.com/css2?family=Alata&family=Commissioner&family=Josefin+Sans:wght@300&display=swap');

/* font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif; */

@font-face {
    font-family: "Commissioner,sans serif";
    font-family: 'Commissioner', sans-serif;
    font-family: 'Josefin Sans', sans-serif;


    src: url(https://fonts.google.com/specimen/Commissioner);
}




/* L'étoile donne du style à TOUS les éléments */
/* * {
  margin: 0;
  padding: 0;
  border: 2px solid red; /* Centrer une boite 
    margin: 0 auto;
*/

header {

    min-height: 500px;
 
    background: url(./image-hero-mobile.jpg)center/cover;
    background-repeat: no-repeat;
position: relative;

    margin: 0 auto;
    border: 2px solid #e6ebf0
}

.logo img {
 
   margin-left: 17px;
   margin-top:30px ;

}
#check {
    display: none;
}
#check:checked~label>img {  content: url(../images/icon-close-menu.svg);
}
#check:checked~.inner-menu {
    display: flex;
    flex-direction: column;
  
    margin: auto;
}
#burger{

    position:absolute ;
}
ul{
 margin-top:15px ;
}
#burger, ul{
display: flex;
justify-content: center;
align-items: center;


right: 10px;
}

/* FLEXBOX */
/* Sert a répartir équitablement des éléments sur la page */
.flexbox ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  align-items: center;
   


}

.flexbox li {
    list-style: none;
    height: 4px;
    width: 90px;
    margin: 10px;
   color: #e6ebf0;
    text-align: center;
  
 

}
li {
    font-family:"Commissioner,sans serif" ;
    font-weight: 700;
    font-size: 16px;
}
/* GRID */
.grid-container {

    background-color: aqua;
    display: grid;
    grid-template-columns: 30% 70%;
  }
  
  .grid img {
    width: 50%;
    margin: 20px auto;
    display: block;
  }